$headline-color: #485563;


.headline4 {
	font-weight: bold;
	font-size: 20px;
	line-height: 36px;
	color: $headline-color;
	font-family: "Montserrat ExtraBold";
}

.pricing {
	width: 100%;
	height: 900px;
	background: #fff;
	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #29323c;
	}
	&__top {
		width: 100%;
		height: 190px;
	}
	&__headline3 {
		margin-top: 24%;
	}
	&__paragraph {
		margin-top: -2%;
	}
	&__hr {
		width: 40px;
		border: 1px solid #29323c;
		opacity: 0.8;
		margin-top: -0.1%;
	}
	&__middle {
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}
	&__packs {
		width: 386px;
		height: 500px;
		border: 1px solid #ECECEC;
		margin-top: 105px;
		transition: 0.2s;
		&:hover {
			border-top: 5px solid #485563;
			height: 540px;
			margin-top: 64px;
		}
	}
	&__packs-headline3 {
		font-family: "Montserrat";
		font-size: 45px;
		line-height: 9px;
		color: $headline-color;
		margin-top: 0;
		letter-spacing: 3px;
	}
	&__headline5 {
		font-family: "Open Sans Light";
		font-weight: lighter;
		font-size: 14px;
		line-height: 1px;
		margin-top: 0;
		color: #29323c;
		opacity: 0.8;
	}
	&__hr-packs {
		border: 1px solid #ECECEC;
	}
	&__p-packs {
		font-size: 14px;
		line-height: 40px;
		font-weight: bold;
	}
	.p-packs1 {
		margin-top: 70px;
	}
	.p-packs2 {
		margin-top: 50px;
	}
	.p-packs3 {
		margin-top: 30px;
	}
	&__btn-packs {
		color: #e8e8e8;
		font-family: "Montserrat";
		line-height: 36px;
		letter-spacing: 0.33px;
		font-size: 13px;
		font-weight: bold;
		background-color: #485563;
		width: 125px;
		height: 40px;
		border: 1px solid #485563;
		border-radius: 20px;
		margin-top: 10px;
		cursor: pointer;
		transition: 0.2s;
		&:hover {
			background-color: #616E7C;
		}
		&:active {
			background-color: #3A4755;
		}
	}
	.btn-packs1 {
		margin-top: 50px;
	}
	.btn-packs2 {
		margin-top: 30px;
	}
}

@media (min-width: 600px)and(max-width: 1182px) {
	.pricing {
		height: 1900px;
		&__middle {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
		}
		&__packs {
			margin-top: 20px;
		}
	}
}